@model IEnumerable<WatchMe.Models.Movie>

<h1>Movies List</h1>

<ul>
    @foreach (var movie in Model)
    {
        <li>
            <a href="@Url.Action("Details", "Movie", new { id = movie.MovieId })">
                @movie.Title
            </a>
        </li>
    }
</ul>
